<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="service" type="CS.Processing.ServiceConfigurationSection, CS.Processing" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <service>
    <Processing Seconds="5" Folder="c:\data"/>
    <Plugins Folder="c:\plugins" />
  </service>
</configuration>